/* Site Heading */
.site-heading h3{
    font-size : 40px;
    margin-bottom: 10px;
    font-weight: 600;
}
.border {
    background: #e8e8e8 ;
    height: 1px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    float:left;
}

/* Feature-CSS */

.icon {
    color : #fff;
    padding:15px;
    background:#323232 ;
    font-size:50px;
    border-radius:90px;
    border:10px solid #323232 ;

}
.lock-encrip-green {
    color : #1e8e3e;
    padding:15px;
    background:#fff;
    font-size:50px;
    border-radius:90px;
    border:10px solid #fff ;

}
.lock-encrip-red {
    color : #d93025;
    padding:15px;
    background:#fff;
    font-size:50px;
    border-radius:90px;
    border:10px solid #fff ;

}
.feature-box {
    text-align: center;
    padding: 20px;
    transition: .5s;
    margin-bottom: 30px;
    border: 1px solid #e8e8e8;
}
.feature-box:hover {

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.feature-box h4 {
    font-size: 20px;
    font-weight: 600;
    margin: 25px 0 15px;
}
.number{
    position: relative;
    top: 1px;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    width: 100px;
}
.material-switch input[type="checkbox"] {
    display: none;
}

.material-switch label {
    cursor: pointer;
    height: 0px;
    position: relative;
    text-align: left;
}

.material-switch label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}
.button-position{
  margin-left:-8%;
}
@media only screen and (max-width: 600px) {
  .icon {
      color : #fff;
      padding:7.5px;
      background:#323232 ;
      font-size:25px;
      border-radius:45px;
      border:5px solid #323232 ;

  }
  .button-position{
    margin-left:-37%;
  }
  .number{
      position: relative;
      top: 1px;
      display: inline-block;
      -webkit-font-smoothing: antialiased;
      font-style: normal;
      font-weight: normal;
      line-height: 1;
      width: 50px;
  }
  .feature-box h4 {
      font-size: 15px;
      font-weight: 600;
      margin: 25px 0 15px;
      text-align: center;
  }
  .feature-box p {
      font-size: 8px;
      text-align: center;
  }
  .material-switch label {
      cursor: pointer;
      height: 0px;
      position: relative;
      text-align: left;
  }

  .material-switch label::before {
      background: rgb(0, 0, 0);
      box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
      border-radius: 8px;
      content: '';
      height: 16px;
      margin-top: -8px;
      position:absolute;
      opacity: 0.3;
      transition: all 0.4s ease-in-out;
      width: 40px;
  }
  .material-switch label::after {
      background: rgb(255, 255, 255);
      border-radius: 16px;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
      content: '';
      height: 24px;
      left: -4px;
      margin-top: -8px;
      position: absolute;
      top: -4px;
      transition: all 0.3s ease-in-out;
      width: 24px;
  }
  .material-switch input[type="checkbox"]:checked + label::before {
      background: inherit;
      opacity: 0.5;
  }
  .material-switch input[type="checkbox"]:checked + label::after {
      background: inherit;
      left: 20px;
  }
}

.navbar-inverse{
  background-color: #323232 !important;
}
.modal {
    overflow-y: hidden;
    overflow: auto;
}


/*lock styles*/
